*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/2023-11-16 08-45-44.mp4
/2023-11-16 08-56-41.mp4
/2023-11-16 09-06-02.mp4
